* {
  box-sizing: border-box;
}
h1 {
  font-size: 2rem;
  margin: 1rem
}
h2 {
  font-weight: bold;
}
section  {
  border: medium solid red;
  margin: 1rem;
  margin-bottom: 5rem;
  padding: 1rem;
  /* overflow: auto; */
  /* position: relative; */
}
div {
  border: medium solid black;
  margin: 1rem;
  padding: 1rem;
  /* display: inline-block; */
  /* float: right; */
  position: relative;
  /* left: 100px; */
}

div#two {
  /* background-color: lightcyan; */
  left: 100px;
  position: absolute;
  bottom: 300px;
}

div#three {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color: white;
  margin: 0;
}
